/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 2rem;
  --font-semi: 600;
  /*===== Colores =====*/
  --first-color: #ff6600;
  --second-color: #151515;
  --third-color: #04d4b8;
  --background-color: #e9e9e9;
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior:smooth;
}


body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}


h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 10px;
  border-color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;

}


/*===== CLASS CSS ===== */

::selection{
  background-color: var(--first-color);
  color: var(--background-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
} 

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 10px;
} 


.section-title {
  position: relative;
  font-size: 2rem;
  color: var(--first-color);
  -webkit-text-stroke: 1px var(--first-color);
  color: transparent;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
  transition: .3s;
  
}


.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: var(--first-color);
  transition: .3s;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  
}

.article {
  background-color: var(--background-color);
  border-bottom: 3px solid var(--first-color);

}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1150px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color:var(--background-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);

}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  transition: .3s;
  border-bottom: 3px solid var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 88%;
    height: 500%;
    padding: 2rem;
    transition: .5s;
    font-size: 1rem;
  }
}

.nav__item {
  margin-bottom: 0px;

}


.nav__link {
  position:sticky;
  transition: .5s;
  align-items: end;
  width: 80%;
  height: 100%;
  color:var(--second-color);
  /* background-color: var(--first-color); */
  transition: .3s;
}

.nav__link:hover {
  position: relative;

}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: .18rem;
  left:0;
  top: 1.3rem;
  background-color: var(--second-color);
  transition: .3s;
}

.nav__logo {
  color: var(--first-color);
  font-size: 2rem;
  margin-left: 5rem;
  -webkit-text-stroke: 1px var(--first-color);
  color: transparent;
  transition: 1s ease-in-out;
  
}

.nav__logo:hover{
  transform: rotate(360deg);
}

.logo{
  max-width: 55px;
  max-height: 55px;
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__btns{
  display: flex;
  align-items: center;
}

/* DARK MODE */

.change-theme{
font-size: 1.25rem;
color:var(--second-color);
margin-right:var(--mb-2);
cursor: pointer;   
}

.change-theme:hover{
  color:var(--first-color);
}


body.dark-theme{
  --hue-color: 224;
  --first-color: #04d4b8;
  --second-color: #fff;
  --third-color: #ff6600;
  --background-color: black;
}
body.dark-theme:hover{
  transition: .3s;
}

body.uil-sun:hover{
  transition: .3s;
}

/*Active menu*/

.active::after {
  position:absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 1.3rem;
  background-color: var(--second-color);
}

/*=== Show menu ===*/
.show {
  right: -60%;
  /* top:10%; */
padding: 1rem;
}

/*===== HOME =====*/
.home {
  position: sticky;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  background-color: var(--background-color);
  
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
  -webkit-text-stroke: 2px var(--first-color);
  color: transparent;
}

.home__title-color:after {
  content: "|";
  margin-left: 1rem;
  opacity: 1;
  animation: blink 1s infinite;
  color: var(--first-color);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  -webkit-text-stroke: 1px var(--first-color);
  color: transparent;
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
  transition: .3s;
}

.home__blob {
  fill: var(--first-color);
  transition: .3s;
}

.home__blob-img {
  width: 360px;
}

/*BUTTONS*/
.button {
  display: inline-block;
  color: var(--second-color);
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}



.button:hover {
  box-shadow: 0px 0px 40px var(--first-color);
}

.btn{
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  letter-spacing: 10px;
  text-indent: 10px;
  z-index: 2;
}

.btn-3{
  transition: all 0.6s ease;
}

.btn-3::after{
  content: "";
  position: absolute;
  width: 10%;
  height: 110%;
  left: -10%;
  top: 0;
  transform: skew(20deg, 0deg);
  background-color: var(--first-color);
  z-index: -1;
  transition: all 0.4s ease;
}

.btn-3::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(20deg, 0deg);
  border: 3px solid var(--first-color);
  transition: all 0.4s ease;
  z-index: -1;
}

.btn-3:hover::after{
  background-color: #ffffffd3;
  transform: skew(20deg, 0deg) translateX(240px);
  
}

.btn-3:hover::before{
  background-color: var(--first-color);
  border: 3px solid var(--first-color);
  
  transform: skew(20deg, 0deg) scale(1.1);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__text{
  color: var(--second-color);
  padding: 1rem;
}

.about__text::after{
    content: "|";
    margin-left: .5rem;
    opacity: 1;
    animation: blink 1s infinite;
    color: var(--first-color);
}


.about__text-color{
  color: var(--first-color);
}

.about__subtitle {
  margin-bottom: var(--mb-2);
  color: var(--second-color);
  padding: 1rem;
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
  
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
  justify-content: center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  height:auto;
  padding: .8rem;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
  justify-content: center;
  text-align: center;
}

.skills__text {
  margin-bottom: var(--mb-4);
  justify-content: center;
  text-align: center;
}

.skills__text::after{
  content: "|";
  margin-left: .5rem;
  opacity: 1;
  animation: blink 1s infinite;
  color: var(--first-color);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 1rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 0px 20px var(--first-color);;
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 95%;
}

.skills__js {
  width: 75%;
}

.skills__ux {
  width: 85%;
}

.skills__wordpress {
  width: 90%;
}

.skills__img {
  border-radius: .5rem;
}



/* ===== WORK =====*/

.s-proyects__subtitle{
  margin-bottom: var(--mb-2);
  justify-content: center;
  text-align: center;
}

.s-proyects__text {
  margin-bottom: var(--mb-4);
  justify-content: center;
  text-align: center;
}

#s-projects{
  padding:96px 48px;
  text-align:center;
  background-color:#040405
}

@media screen and (max-width: 992px){
  #s-projects{
    padding:48px 24px
  }
}

#s-projects .grid-layout #projects{
  margin:24px 0px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  text-align:left
}

#s-projects .grid-layout #projects .teslabank{
  border:1px solid var(--background-color);
}

#s-projects .grid-layout #projects .teslabank:hover{
  border:1px solid var(--first-color);
}

#s-projects .grid-layout #projects .naped{
  border:1px solid var(--background-color);
}

#s-projects .grid-layout #projects .naped:hover{
  border:1px solid var(--first-color);
}

#s-projects .grid-layout #projects .efront{
  border:1px solid var(--background-color);
}

#s-projects .grid-layout #projects .efront:hover{
  border:1px solid var(--first-color);
}

#s-projects .grid-layout #projects>article{
  background-color:#09090b;
  height:50%;
  padding:32px;
  margin:8px;
  flex-basis:calc(33% - 20px);
  flex-grow:1;
  border:1px solid #040405;
  transition:1s all ease;
}

#s-projects .grid-layout #projects>article:hover{
  border:1px solid var(--first-color);
}

@media screen and (max-width: 1200px){
  #s-projects .grid-layout #projects>article{
    flex-basis:calc(50% - 20px)
  }
}

@media screen and (max-width: 768px){
  #s-projects .grid-layout #projects>article{
    flex-basis:calc(100% - 20px)
  }
}

#s-projects .grid-layout #projects>article h3{
  color:var(--first-color);
  font-size:2.4rem;
  font-weight:500
}

#s-projects .grid-layout #projects>article p{
  line-height:24px;
  margin:24px 0px;
  color:#d8d8d8;
  line-height:3.2rem;
  font-size:1rem
}

#s-projects .grid-layout #teslabank{
  color:var(--first-color);
}

#s-projects .grid-layout #teslabank::after{
  background:linear-gradient(270deg, var(--first-color), #17161d 100%)
}

#s-projects .grid-layout #naped{
  color:var(--first-color);
}

#s-projects .grid-layout #naped::after{
  background:linear-gradient(270deg, var(--first-color) 0%, #17161d 100%)
}

#s-projects .grid-layout #efront{
  color:var(--first-color)
}

#s-projects .grid-layout #efront::after{
  background:linear-gradient(270deg, var(--first-color) 0%, #17161d 100%)
}

#s-projects .grid-layout a{
  color:var(--first-color);
  position:relative;
  font-size:2rem;
  font-weight:400
}

#s-projects .grid-layout a::after{
  content:"";
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:1px;
  bottom:-7px;
  left:0;
  background:linear-gradient(270deg, var(--first-color) 0%, #17161d 100%);
  transform-origin:bottom right;
  transition:transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

#s-projects .grid-layout a:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left;
}

#s-projects .grid-layout a::after{
  content:"";
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:1px;
  bottom:-7px;
  left:0;
  transform-origin:bottom right;
  transition:transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

#s-projects .grid-layout a:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left
}

.work__container {
  row-gap: 2rem;
}

/* IMAGENES EN SECTOR WORK/PROYECTS DESHABILITADO */
/* .work__img {
  box-shadow: 0px 4px 25px var(--first-color);
  border-radius: .5rem;
  justify-self: center;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
  border-style: solid var(--fifth-color);
}

.work__img img {
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.1);
} */

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  background-color: var(--first-color);
}

/* ===== FOOTER =====*/
.footer {
  background:linear-gradient(45deg, black, #292929);
  color: var(--first-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  transition: .3s;
  border-top: 5px solid var(--first-color)
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__icon:hover{
  color:var(--first-color);
  transition: .3s;
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
  
  
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

textarea{
  font-family: var(--body-font);
}

input{
  font-family: var(--body-font);
}
